body, h1, h2, h3, h4, h5, h6, p, a,
dl, dt, dd, ol, ul, li{
  margin:0;
  padding: 0;
}

ol, ul {
	list-style: none;
}

a{
  text-decoration: none;  
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}